name : cd

on : 
  push:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Deploy and restart Uvicorn app
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY  }}
          script: 
            source ~/.nvm/nvm.sh
            cd elderly-care-server-refactored

            git pull origin master

            cd src

            pm2 stop elderly
            pm2 delete elderly

            pm2 start "uvicorn main:app --host 0.0.0.0 --port 8080" --name elderly

            pm2 save
            pm2 startup